header.main-header
  .wrapper.main-header__wrap
    .main-header__logo
      a(href="#")
        img(src='../img/logo.svg')
        p Портал НПР РГСУ
    nav.main-header__nav
      ul.main-header__list
        li.main-header__item
          a(herf = "#") Новости
        li.main-header__item.main-header__item__active
          a(herf = "#") Преподаватели
        li.main-header__item
          a(herf = "#") Вакансии
        li.main-header__item
          a(herf = "#") Объявления
        li.main-header__item
          a(herf = "#") Мероприятия
    button.btn Вход на сайт

