// Файл для подключения нестандартных шрифтов
@font-face {
  font-family: 'Russia';
  src: local('Russia Regular'), local('Russia-Regular'),
  url('../fonts/Russia.woff2') format('woff2'),
  url('../fonts/Russia.woff') format('woff'),
  url('../fonts/Russia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
